.deviceDescription {
    display: flex;
    flex-direction: row;

}

.deviceName {
    width: 70%;
}

.price {
    width: 10%;
    text-align: center;
}

.quality {
    width: 3%;
    text-align: center;
}

.summ {
    width: 15%;
    text-align: center;
}
.totalSum{
    margin-left: 82%;
}